<h1 align="center">Listing all users</h1>
	<div align = "center"> 
		<%= will_paginate %>
	</div>
<%= render 'articles/board', obj: @articles %>
	<div align = "center"> 
		<%= will_paginate %>
	</div>
