<h1>This is last article.</h1>

<%= form_for @article do |f| %>
	<p>
		Title: <%= @article.title %>
	</p>

	<p>
		Description <%= @article.description %>
	</p>	
	<br>
	
	<p>
		by: <%= @article.owner%>
	</p>


<%end%>
